// Bower components scripts
script(type='text/javascript', src='/bower_components/jquery/dist/jquery.js')
script(type='text/javascript', src='/bower_components/bootstrap/dist/js/bootstrap.js')
script(type='text/javascript', src='/bower_components/angular/angular.js')
script(type='text/javascript', src='/bower_components/angular-ui-router/release/angular-ui-router.js')
script(type='text/javascript', src='/bower_components/angular-animate/angular-animate.js')
script(type='text/javascript', src='/bower_components/satellizer/satellizer.js')
// App scripts
script(type='text/javascript', src='/scripts/app.js')
script(type='text/javascript', src='/scripts/app.config.js')
script(type='text/javascript', src='/scripts/services/alert.js')
script(type='text/javascript', src='/scripts/controllers/main.js')
script(type='text/javascript', src='/scripts/directives/validateEquals.js')
script(type='text/javascript', src='/scripts/controllers/header.js')
script(type='text/javascript', src='/scripts/controllers/register.js')
script(type='text/javascript', src='/scripts/controllers/login.js')
script(type='text/javascript', src='/scripts/controllers/logout.js')
script(type='text/javascript', src='/scripts/controllers/liContacts.js')
script(type='text/javascript', src='/scripts/controllers/liContacts.js')